<footer>
  <div class="col-12 d-flex footer-content">
    <span class="navbar-logo-margin"></span>
    <div class="logo">
      <img src="assets/ikia_logo_koyu.png" alt="Logo" />
    </div>
    <div>
      <div class="row align-items-center">
        <div class="col-2">
          <img src="assets/ikiaphone.png" alt="Logo" />
        </div>
        <div class="col-10 contact-info">
          <p>+90 222 220 30 20</p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-2">
          <img src="assets/konumdeneme.png" alt="Logo" />
        </div>
        <div class="col-10 contact-info">
          <p>
            Cumhuriye mah. Şen sok. <br />
            Saldan Plaza 2/34 Eskişehir/Türkiye
          </p>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-2">
          <img src="assets/ikiamail.png" alt="Logo" />
        </div>
        <div class="col-10 contact-info">
          <p>destek&#64;2abilgisayar.com.tr</p>
        </div>
      </div>
    </div>

    <span class="navbar-search-button-margin"></span>
  </div>
</footer>
